@charset "utf-8";

/* Styles for the Soteria desktop app help page content */

/* css to zero out the browser */
* {
	margin: 0;
	padding: 0;
}
html, body, div, span, applet, object, iframe, p, pre, abbr, del, dfn, em, font, img, ins, s, samp, acronym, address, big, cite, code, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	font-family: 'Arial', sans-serif;
	border: 0;
	outline: 0;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.image-link:hover {
	text-decoration: none;
}

body {
    background-color: ivory;
	height: 100%;
    width: 100%;
    max-width: 640px;
}

h1, h2, h3, h4 {
    color: black;
    font-weight: bold;
}
h2 {
	font-size: 1.4em;
	margin: 14px 0px 0px;
}
h3 {
	font-size: 1.1em;
	margin: 10px 0px 0px 0px;
}
h4 {
	font-size: 1em;
	margin: 8px 0px 0px 0px;
}

img {
	border-style: none;
    vertical-align: middle;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
  color: #333;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 100%;
  padding: 2px 4px;
  white-space: nowrap;
  margin: auto 0px;
}

p {
    line-height: 140%;
	padding: 3px 0px 5px;
}

ul, ol {
	padding: 5px 0px 5px 20px;
}
li {
    margin-bottom: 6px;
    vertical-align: middle; /* Prevents IE7 from bottom-justifying the bullets relative to text */
}
ol ol {
	counter-reset: list;
	list-style: none;
	margin-left: 14px;
}
ol ol li::before {
	content: counter(list, lower-alpha) ") ";
	counter-increment: list;
}

table {
    border: 1px solid #777;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    width: 100%;
}
td, th {
    border: 1px solid #777;
    padding: 4px 8px;
    text-align: left;
}
th {
    background-color: rgb(180, 225, 255);
    font-weight: bold;
    vertical-align: text-bottom;
}
td {
    vertical-align: middle;
}
td.key-combo {
    text-align: center;
    width: 68px;
}
tr {
    background-color: white;
}
tr.even {
    background-color: rgb(238, 248, 255);
}

#container {
	width: 100%;
    font-size: calc(4vw);
}

#header {
    clear: both;
    float: left;
    position: fixed;
    top: 0px;
	width: 100%;
	background-color: rgb(219, 255, 220);
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #777;
    vertical-align: middle;
}
#topTitle {
    margin: auto 5px;
    padding: 8px;
}
#topTitle img {
    display: inline-block;
    vertical-align: middle;
}
#topTitle span.title {
	font-size: 1.8em;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
}
#topTitle sup {
    font-size: 0.5em;
	vertical-align: text-top;
}

#content {
    margin-top: 60px;
}
#usercontent {
	float: left;
	background: transparent;
    padding: 0px 15px;
}

#footer {
	clear: both;    
    position: fixed;
    font-size: 12px;
    bottom: 0px;
	width: 100%;
    height: 21px;
	background: url(images/HeaderBG.jpg) repeat-x;
    border: #777 solid 1px;
    vertical-align: top;
}
#source-icon {
    padding: 3px;
    vertical-align: inherit;
}
#source-url {
    font-family: 'Segoe UI', sans-serif;
    display: inline-block;
    margin: auto 0px;
    padding: 3px 0px;
    vertical-align: middle;
    white-space: nowrap;
}
#source-url a {
    color: #222;
    vertical-align: inherit;
}
#source-url a:hover {
    color: blue;
	text-decoration: none;
}

#unit-tests-link {
    display: inline-block;
    position: absolute;
    right: 14px;
    margin: auto 0px;
}

.key-combo {
    white-space: nowrap;
}

.key-combo-col {
    width: 68px;
}

.info-tip-box {
    background: url(images/lightbulb-tilted-30x32.png) no-repeat 12px center;
    padding: 8px 8px 8px 54px;
    margin-top: 6px;
    background-color: white;
    border-top: #ccc solid 1px;
    border-left: #ccc solid 1px;
    border-bottom: #666 solid 1px;
    border-right: #666 solid 1px;
    border-radius: 8px;
    min-height: 45px;
}
p.info-tip-text {
    font-size: 90%;
    font-style: italic;
    line-height: 120%;
    padding: 0px;
    color: #333;
}

.screen-shot {
    display: block;
    margin: 6px 0px 4px;
}
