@charset "utf-8";

/* Styles for the Soteria desktop app help pages and About box */

* {
	margin: 0;
	padding: 0;
}
html, body, div, span, applet, object, iframe, p, pre, abbr, del, dfn, em, font, img, ins, s, samp, acronym, address, big, cite, code, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	font-family: 'Arial', sans-serif;
	border: 0;
	outline: 0;
}

a {
    text-decoration: none;
}
a:hover {
    color: #00f;
}
a.image-link:hover {
	text-decoration: none;
}

body {
    color: #333;
	height: 100%;
    width: 100%;
}
body.app-help {
    max-width: 640px;
}

h1, h2, h3, h4 {
    font-weight: bold;
}
h1 {
	font-size: 1.4em;
	margin: 14px 0px 2px;
}
h2 {
	font-size: 1.1em;
	margin: 10px 0px 0px 0px;
}
h3 {
	font-size: 1em;
	margin: 8px 0px 0px 0px;
}

img {
	border-style: none;
    vertical-align: middle;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
  display: inline-block;
  font-family: 'Consolas', 'Courier New', monospace;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 100%;
  padding: 0px 3px 2px;
  white-space: nowrap;
  margin: auto 2px;
}

p {
    line-height: 120%;
	padding: 3px 1px 5px 0px;
}

ul, ol {
	padding: 5px 0px 5px 20px;
}
li {
    line-height: 120%;
    margin-bottom: 6px;
    vertical-align: middle; /* Prevents IE7 from bottom-justifying the bullets relative to text */
}
ol ol {
	counter-reset: list;
	list-style: none;
	margin-left: 14px;
}
ol ol li::before {
	content: counter(list, lower-alpha) ") ";
	counter-increment: list;
}

table {
    border: 1px solid #777;
    border-collapse: collapse;
    margin: 15px 0px;
    width: 100%;
}
table.tight {
    margin: 5px 0px 0px 0px;
}
tr {
    background-color: #fff;
}
td, th {
    border: 1px solid #777;
    padding: 4px 8px;
    text-align: left;
}
th {
    background-color: rgb(180, 225, 255);
    font-weight: bold;
}
td.key-combo {
    text-align: center;
    width: 68px;
}
td.label {
    font-size:80%;
    font-weight: bold;
    width: 150px;
}

#container {
	width: 100%;
    font-size: calc(4.2328vw);
}

#header {
    background-color: rgb(180, 225, 255);
    clear: both;
    float: left;
    position: fixed;
    top: 0px;
	width: 100%;
    vertical-align: middle;
    border-bottom: 1px solid #eee;
}
#header-content {
    border-bottom: #888 1px solid;
}
#header-content.about {
    border-top: #888 1px solid;
    padding: 0px 20px;
}
#topTitle {
    margin: auto 5px;
    padding: 8px;
}
#topTitle img {
    display: inline-block;
    vertical-align: middle;
}
#topTitle span.title {
	font-size: 1.8em;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
}
#topTitle sup {
    font-size: 0.5em;
	vertical-align: text-top;
}

#content.about {
    margin-top: 6px;
}
#content.help {
    margin-top: 60px;
}
#content-about {
	float: left;
    padding: 0px 30px;
}
.content-help {
	float: left;
    padding: 0px 15px;
}

#footer {
	clear: both;    
    position: fixed;
    bottom: 0px;
	width: 100%;
    height: 18px;
	background: url(images/HeaderBG.jpg) repeat-x;
    border-top: #777 solid 1px;
    vertical-align: top;
}
#source-icon {
    padding: 3px 0px 3px 3px;
    vertical-align: inherit;
}
#source-url {
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
    vertical-align: inherit;
    white-space: nowrap;
}
#source-url a {
    color: #000;
    vertical-align: bottom;
}
#source-url a:hover {
    color: #00f;
}
#unit-tests-link {
    display: inline-block;
    position: absolute;
    right: 14px;
    margin: auto 0px;
}

/* This makes local anchor links have the correct offset to compensate for the fixed header */
.anchor {
  display: block;
  height: 60px;
  margin-top: -60px;
  visibility: hidden;
}

.code-name {
    font-size: 80%;
    font-style: italic;
    font-weight: bold;
    color: #6600b9;
}

.even {
    background-color: rgb(238, 248, 255);
}

.key-combo {
    white-space: nowrap;
}

.key-combo-col {
    width: 68px;
}

.info-tip-box {
    background: url(images/lightbulb-tilted-30x32.png) no-repeat 12px center;
    padding: 8px 14px 8px 54px;
    margin: 15px 0px 25px;
    background-color: #ffffe0;
    border-top: #ccc solid 1px;
    border-left: #ccc solid 1px;
    border-bottom: #666 solid 1px;
    border-right: #666 solid 1px;
    border-radius: 8px;
    min-height: 45px;
}
p.info-tip-text {
    font-size: 90%;
}

.screen-shot {
    display: block;
    margin: 6px 0px 4px;
}
