@charset "utf-8";

/* Styles for the Soteria desktop app help page content */

/* css to zero out the browser */
* {
	margin: 0;
	padding: 0;
}
html, body, div, span, applet, object, iframe, p, pre, abbr, del, dfn, em, font, img, ins, kbd, s, samp, acronym, address, big, cite, code, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	font-family: 'Arial', sans-serif;
	border: 0;
	outline: 0;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.image-link:hover {
	text-decoration: none;
}

body {
    background-color: ivory;
	height: 100%;
    width: 375px;
    max-width: 640px;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

img {
	border-style: none;
}

h1, h2, h3, h4 {
    color: black;
    font-weight: bold;
}
h2 {
	font-size: 1.4em;
	margin: 14px 0px 0px;
}
h3 {
	font-size: 1.1em;
	margin: 10px 0px 0px 0px;
}
h4 {
	font-size: 1em;
	margin: 8px 0px 0px 0px;
}

p {
    line-height: 120%;
	padding: 2px 0px 6px;
}

ul, ol {
	padding: 5px 0px 5px 20px;
}
li {
    margin-bottom: 4px;
    vertical-align: middle; /* Prevents IE7 from bottom-justifying the bullets relative to text */
}
ol ol {
	counter-reset: list;
	list-style: none;
	margin-left: 14px;
}
ol ol li::before {
	content: counter(list, lower-alpha) ") ";
	counter-increment: list;
}

#header {
	position: fixed;
	width: 100%;
	background-color: rgb(219, 255, 220);
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #777;
    vertical-align: middle;
}
#topTitle {
    vertical-align: middle;
	text-align: left;
	color: black;
    margin: auto 5px;
    padding: 8px;
    height: 100%;
}
#topTitle img {
    display: inline-block;
    vertical-align: middle;
}
#topTitle span.title {
	font-size: 2em;
    font-weight: bold;
    vertical-align: middle;
    padding-left: 8px;
}
#topTitle sup {
    font-size: 0.5em;
	vertical-align: text-top;
}

#container {
	width: 100vw;
    font-size: calc(3.5vw);
}
#content {
   clear: both;
}
#usercontent {
	float: left;
	margin: 60px auto 0px;
	background: transparent;
    padding: 0px 15px 30px 15px;
}

#footer {
	clear: both;
    position: fixed;
    bottom: 0px;
	height: 22px;
	width: 100%;
	background: url(images/HeaderBG.jpg) repeat-x;
    border-style: solid;
    border-width: 1px;
    border-color: #777;
}
#source-url {
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    width: 352px; /* For IE7 */
    height: 28px;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
}
#source-url a {
    color: #333;
    text-decoration: none;
}
#source-icon {
    padding: 3px;
}

.info-tip-box {
    background: url(images/lightbulb-tilted-30x32.png) no-repeat 12px center;
    padding: 8px 8px 8px 54px;
    margin-top: 6px;
    background-color: white;
    border-top: #ccc solid 1px;
    border-left: #ccc solid 1px;
    border-bottom: #666 solid 1px;
    border-right: #666 solid 1px;
    border-radius: 8px;
    min-height: 45px;
}
p.info-tip-text {
    font-size: 90%;
    font-style: italic;
    line-height: 120%;
    padding: 0px;
    color: #333;
}

.screen-shot {
    display: block;
    margin: 6px 0px 4px;
}
